<!-- Seletor de categorias -->
<div class="container mb-5 ">
  <select data-mdb-select-init (change)="filtrarCategoria($event)">
    <option *ngFor="let categoria of categorias" [value]="categoria">
      {{ categoria }}
    </option>
  </select>
</div>


<div class="produtos-list container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 produtos-row align-items-center">
    <div class="col d-flex justify-content-center" *ngFor="let produto of produtos">
      <app-produto-card [produto]="produto"></app-produto-card>
    </div>
  </div>
</div>
