<footer class="text-center text-lg-start text-white bg-granulado" >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
        <!--Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold fs-5">
                Empório da Vila
            </h6>
            <p>
                Um lugar aconchegante e receptivo para encontrar aquilo que sua saúde e bem estar merecem.
            </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Páginas</h6>
            <p>
                <a class="text-white" href="inicio" >Início</a>
            </p>
            <p>
                <a class="text-white" href="produtos" >Produtos</a>
            </p>
            <p>
                <a class="text-white" href="contato" >Contato</a>
            </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">

                <h6 class="text-uppercase mb-4 font-weight-bold">Unidades</h6>
                <p><i class="fas fa-home mr-3"></i> Av. Silvio Américo Sasdelli - Vila A, Foz do Iguaçu - PR </p>
                <p><i class="fas fa-home mr-3"></i> Av. República Argentina, 2619 - Jardim Esmeralda I e II, Foz do Iguaçu - PR </p>

                <!-- <p><i class="fas fa-phone mr-3"></i> (45) 99836-6158 </p> -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 social-media">
            <h6 class="text-uppercase mb-4 font-weight-bold">Siga-nos</h6>

            <!-- Facebook -->
            <a
                class="btn btn-primary btn-floating m-1 facebook"
                target="_blank"
                href="https://www.facebook.com/emporiodavilafoz/?locale=pt_BR"
                role="button"
                ><i class="fab fa-facebook-f"></i
                ></a>

            <!-- Instagram -->
            <a
                class="btn btn-primary btn-floating m-1 instagram"
                target="_blank"
                href="https://www.instagram.com/emporiodavilafoz/"
                role="button"
                ><i class="fab fa-instagram"></i
                ></a>

            <!-- Google -->
            <a
                class="btn btn-primary btn-floating m-1 google"
                target="_blank"
                href="https://maps.app.goo.gl/aMiYr7NHKshcTmRm7"
                role="button"
                ><i class="fab fa-google"></i
                ></a>

            <!-- Google -->
            <a
                class="btn btn-primary btn-floating m-1 google"
                target="_blank"
                href="https://maps.app.goo.gl/Xz4vbwKQ3phg94KK9"
                role="button"
                ><i class="fab fa-google"></i
                ></a>

            </div>
        </div>
        <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
            >
        © 2025 Copyright:
        <a class="text-white">Empório da Vila</a>
    </div>
    <!-- Copyright -->
</footer>
