<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{ 'scrolled': scrolled }">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
      <!-- Right links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex gap-4">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1">Contato</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-light shadow-none ">Login</button>
        </li>
      </ul>
      <!-- Right links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
