@use "../../../colorPallete.scss" as *;

.navbar {
  background-color: transparent;
  border-bottom: none;
  box-shadow: none !important;
  transition: background-color 0.3s, border-bottom 0.3s, color 0.3s;

  .nav-link,
  .btn {
    color: #fff !important; // textos brancos no topo
  }

  .btn {
    color: $verde-escuro !important;
    border: 1px solid #fff; // botão branco com borda no topo
    transition: 1s ease-out;
  }
}

.menu-gerenciamento {
  color: #fff;
  cursor: pointer;
}

.dropdown-item-gerenciamento {
  cursor: pointer;
  color: #ffffff;
}

// Estilo somente aplicado em caso de não haver bg-granulado ativado
.navbar.scrolled:not(.bg-granulado) {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .nav-link,
  .btn {
    color: #000 !important; // textos pretos após scroll
  }

  a:hover{
    color: $verde-escuro !important;
  }

  .btn {
    background: $gradiente-verde !important;
    color: $branco !important;
  }
}