<div class="card border border-success shadow-0 w-100 h-100" [id]="produto.id">
  <div class="card-header">{{ produto.categoria }}</div>

  <div class="card-body text-success">
    <h5 class="card-title">{{ produto.nome }}</h5>
    <p class="card-text">
      Valor: R$ {{ produto.valor.toFixed(2) }} <br>
      {{ produto.stock ? 'Em estoque' : 'Fora de estoque' }}
    </p>

    <div class="d-flex align-items-center gap-5" *ngIf="authService.isUserAdmin">
      <button type="button" class="btn btn-primary shadow-none" (click)="launchModal()" >Editar</button>
      <button type="button" class="btn btn-danger shadow-none" (click)="onDelete()">Deletar</button>
    </div>
  </div>
</div>
