<app-header></app-header>

<app-banner
    imagem="assets/bannerHomeImg.png"
    alt="mulher segurando suplementos"
    titulo="Empório da Vila"
    subtitulo="Sua vida um pouco mais natural">
</app-banner>

<div class="container-holder">
    <div class="container my-5 gap-5">
        <div class="left">
            <h2 class="mb-4">Um ambiente de qualidade</h2>
            <p>Uma vida mais saudável e com bom humor está a poucos passos de você. Escolha os melhores produtos, selecionados para seu bem estar, produtividade e performance. Nossa loja está preparada pra te atender da melhor forma possível. E ai, tá esperando o que? Vem nos conhecer.</p>
        </div>
        <div class="right">
            <img src="assets/aboutImg.png" alt="Mulher segurando cesta de verduras">
        </div>
    </div>
</div>