.container-tabela {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
  width: 100%;
  max-width: 1100px;        
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.conteudo {
  flex: 1;
  display: flex;
  justify-content: center;   
  align-items: center;
}