.tabela-usuarios {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th {
    text-align: left;
    padding: 10px;
    background: #f7f7f7;
  }

  td {
    padding: 10px;
    border-top: 1px solid #ddd;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.btn {
  border-radius: 4px;
}

.btn-editar {
    border: none;
    cursor: pointer;
    padding: 5px 12px;
    color: white;
    background: #025b97;
     
    &:hover {
    background: #01224a;
    }
}

.btn-excluir {
    border: none;
    cursor: pointer;
    padding: 5px 12px;
    color: white;
    background: #c42a03;
    
    &:hover {
    background: #762600;
    }
}


