@use '../../../colorPallete.scss' as *;

.form-container {
    width: 300px;
    background: white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1;
    padding: 2rem;
    height: auto;
}

.pseudo-body {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    padding-top: 3rem; 
}

label {
    color: rgba(0, 0, 0, 0.563);
}

button{
    width: 300px;
    background: $gradiente-verde;
}

.criarConta, .irParaLogin, .login-link{
  cursor: pointer;
  color: $verde-escuro;
}
