@import '../../../colorPallete.scss';

.form-container {
    width: 300px;   
    height: 350px;  
    background: rgb(255, 255, 255); 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
    position: relative;         /* garante que fique acima do granulado */
    z-index: 1;  
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $verde-amarelado;
    background: $gradiente-verde;
}

label {
    color: rgba(0, 0, 0, 0.563);
}

button{
    width: 300px;
    background: $gradiente-verde;
}

.criarConta{
    color: $verde-escuro;
}