<app-header></app-header>

<app-banner
    type="contato"
    imagem="assets/bannerContactImg.png"
    alt="homem segurando suplementos"
    titulo="Entre em contato"
    subtitulo="Cheque os meios disponíveis abaixo">
</app-banner>

<div class="container-holder">
    <div class="container my-5 gap-5">

        <div class="left">
            <h3>Unidade República</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3600.1015676973207!2d-54.568729489394215!3d-25.53499347740108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f6911e3790ae93%3A0x6f8abfd6791441be!2sEmp%C3%B3rio%20da%20Vila!5e0!3m2!1spt-BR!2sbr!4v1762140313890!5m2!1spt-BR!2sbr" width="100%" height="250" style="border:0;" allowfullscreen loading="lazy"></iframe>"
            <h3 class="mt-4">Unidade Vila A</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5093.022153594148!2d-54.56399206711911!3d-25.49468912626411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f69a7ed2e66e7f%3A0xd14689e3ac68f48b!2sEmp%C3%B3rio%20da%20Vila%20Foz%2C%20Produtos%20Naturais%20%2C%20Suplementos%20%2C%20creatina%20e%20whey%20protein%20(%20Unidade%201%20Vila%20A%20)!5e0!3m2!1spt-BR!2sbr!4v1762140377835!5m2!1spt-BR!2sbr" width="100%" height="250" style="border:0;" allowfullscreen loading="lazy"></iframe>
              
        </div>

        <div class="right">
            <h2 class="mb-4">Estamos aqui para te ajudar</h2>
            <form>
                <input type="text" placeholder="Seu nome">
                <input type="email" placeholder="Seu email">
                <input type="tel" placeholder="Telefone">
                <input type="text" placeholder="Assunto">
                <textarea placeholder="Escreva sua mensagem"></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>

    </div>
</div>

<app-footer></app-footer>